*{
    padding: 0;
    margin: 0;
    background-color: red;
    
}
body{
    background-color: palegreen;
}

.container{
    height: 500px;
    width: 500px;
    background-color: blue;
    margin : 100px auto;
    outline: 2px solid black;
    outline-offset: 10px;
}

div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid ;
    margin: 50px 0px 0px 200px;
}

#box2{
    visibility: hidden;
}

.font{
    color: black;
    font-size: 30px;
    padding: 25px 0px 0px 20px;
    font-weight: border;
}